/* General Styles */
body,
html {
    display: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    height: auto;
    overflow: auto;
    font-family: "Univers", sans-serif;
    background: #000000cf;
    color: white;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-weight: bold;
    height: 100vh;
}

.header {
    position: fixed;
    z-index: 100;
    margin-top: 15px;
    border-radius: 15px;
    top: 12%;
    left: 10%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.header h1 {
    margin: 0;
    color: rgba(0, 255, 0, 0.4);
    -webkit-text-stroke-width: 1.15px;
    -webkit-text-stroke-color: #ffffff;
    text-shadow: 0 0 35px lime;
}
.header h4 {
    margin: 0 0 15px 0;
    color: lime;
    text-shadow: 0 0 35px lime;
}

/* Container Styling */
.container {
    width: 60%;
    margin-top: 35px;
    text-align: center;
    position: relative;
    left: 20%;
    height: 100%;
    margin-top: 35px;
}
hr {
    margin-bottom: 20px;
    color: #ffffff;
    border: 2px solid;
    box-shadow: 0 0 9px lime;
}

/* Search Bar Styling */
#search-bar {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}
#search-bar::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
#search-bar:focus {
    border: 2px solid lime;
    transition: ease 0.4s;
}

/* Results Container Styling */
#results {
    margin-top: 28%;
    position: static;
    text-align: left;
    z-index: -5;
    height: 100%;
    top: 25%;
}
/* Result Item Styling */
.result-item {
    margin: 15px 0;
    padding: 18px;
    border-radius: 15px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: -5;
}
.result-item:hover {
    background-color: #4c566a;
    border: 2px solid lime;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: -5;
    transition: ease 0.2s;
}
/* Question Styling */
.result-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    z-index: -5;
}
/* Response Styling */
.result-item p {
    font-size: 1em;
    line-height: 1.6;
    color: #d8dee9;
    white-space: pre-line; /* Respect line breaks */
    z-index: -5;
}

/* Highlight Matching Words */
.highlight {
    background-color: #88c0d0;
    color: #2e3440;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 3px;
}
.agent-highlight {
    color: #09ff00; /* Bright lime green */
    font-weight: bold;
}
.caller-highlight {
    color: #eceff4 !important; /* Default white */
}

/* Responsive Design */
@media (max-width: 768px) {
    input,
    select {
        width: 100%;
        font-size: 14px;
    }

    .formContainer {
        padding: 15px;
    }

    form {
        padding: 15px;
    }

    label {
        width: 80%;
        text-align: center;
        margin-right: 0;
    }

    input {
        width: 80%;
        padding-left: 20px;
        padding-right: 20px;
    }
}
